{% extends "base.html.twig"%}


{% block body%}
        <div class="container my-5">
            <div class="card border-none border-dark shadow">
                <div class="card-body">
                    <div class="card shadow p-3 bg-dark">
                        <h3 class="text-bold text-white">Add Blog</h3>
                        <div class="form-outline">
{#                          <input type="search" id="form1" class="form-control form-control-sm border-light" placeholder="Search Blog"#}
{#                          aria-label="Search" />#}
                        </div>
                    </div>
                    <div class="my-3">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
{% endblock %} 

